{% extends "base.html" %}
{% block body %}

<div>
    <div class="about">
        <h1>ABOUT US</h1>
    </div>
    
    <div class="info">
        <p>One web page for every book ever published. It's a lofty but achievable goal.</p>
        <p>To build Open Library, we need hundreds of millions of book records, a wiki interface, and lots of people who are willing to contribute their time and effort to building the site.</p>
        <p>To date, we have gathered over 20 million records from a variety of large catalogs as well as single contributions, with more on the way.</p>
        <p>Open Library is an open project: the software is open, the data are open, the documentation is open, and we welcome your contribution. Whether you fix a typo, add a book, or write a widget--it's all welcome. We have a small team of fantastic programmers who have accomplished a lot, but we can't do it alone!</p>
        <p>Open Library is a project of the non-profit Internet Archive, and has been funded in part by a grant from the Library Of Vishwakarma Info. Tech. Pune.</p>
    </div>
    <hr>
    <div id="goal">
        <h1> Our Goal</h1>
    </div>
    <hr>
    <div class="info">
        <p>Access to knowledge, promote scholarly communication and provide information to community in support to research and instructional programs.</p>
        <p>Leadership in information policy development, information applications and information research.</p>
        <p>Engage the community in developing and promoting resources and partnership opportunities.</p>
        <p>Provide a versatile, welcoming, collaborative, and safe space that serves as an anchor for the community.</p>
    </div>
    <br>
</div>

{% endblock %}