{% extends "base.html" %}
{% block body %}

<div>
    <div class="intro">
        <div>
            <h2>
                Enjoy Learning With Us
            </h2>
            <h3>
                Read, Lead, Succed
            </h3>
            <div class="btn">
                <a href="#books">Read Books</a>
            </div>
        </div>
    </div>

    <div>
        <div class="cardstart1">
            <h2 class="tag">
                Browse By Subjects...
            </h2>
            <div class="cardstart" id="books">
                <div class="card">
                    <img src="/static/img/biography.jpg" alt="Biogrphy" style="width:100%">
                    <div class="container">
                        <h4><b>Biography Books</b></h4>
                        <a href="/biography-books" class="btn1"> Read Now </a> 
                    </div>
                </div>
                <div class="card">
                    <img src="/static/img/art.jpeg" alt="Art" style="width:100%">
                    <div class="container">
                        <h4><b>Art Books</b></h4>
                        <a href="/art-books" class="btn1"> Read Now </a> 
                    </div>
                </div>
                <div class="card">
                    <img src="/static/img/children.jpg" alt="Children" style="width:100%">
                    <div class="container">
                        <h4><b>Children Books</b></h4>
                        <a href="/children-books" class="btn1"> Read Now </a> 
                    </div>
                </div>
                <div class="card">
                    <img src="/static/img/fantacy.jpeg" alt="Fantacy" style="width:100%">
                    <div class="container">
                        <h4><b>Fantacy Books</b></h4>
                        <a href="/fantacy-books" class="btn1"> Read Now </a> 
                    </div>
                </div>
                <div class="card">
                    <img src="/static/img/history.jpeg" alt="History" style="width:100%">
                    <div class="container">
                        <h4><b>History Books</b></h4>
                        <a href="/history-books" class="btn1"> Read Now </a> 
                    </div>
                </div>
                <div class="card">
                    <img src="/static/img/medicine.jpeg" alt="Medicine" style="width:100%">
                    <div class="container">
                        <h4><b>Medicine Books</b></h4>
                        <a href="/medicine-books" class="btn1"> Read Now </a> 
                    </div>
                </div>
                <div class="card">
                    <img src="/static/img/music.jpeg" alt="Music" style="width:100%">
                    <div class="container">
                        <h4><b>Music Books</b></h4>
                        <a href="/music-books" class="btn1"> Read Now </a> 
                    </div>
                </div>
                <div class="card">
                    <img src="/static/img/mystory.jpeg" alt="Mystory" style="width:100%">
                    <div class="container">
                        <h4><b>Mystory Books</b></h4>
                        <a href="/mystory-books" class="btn1"> Read Now </a> 
                    </div>
                </div>
                <div class="card">
                    <img src="/static/img/plays.jpeg" alt="Plays" style="width:100%">
                    <div class="container">
                        <h4><b>Plays </b></h4>
                        <a href="/plays-books" class="btn1"> Read Now </a> 
                    </div>
                </div>
                <div class="card">
                    <img src="/static/img/recipies.jpeg" alt="Recipies" style="width:100%">
                    <div class="container">
                        <h4><b>Recipies Books</b></h4>
                        <a href="/reciepy-books" class="btn1"> Read Now </a> 
                    </div>
                </div>
                <div class="card">
                    <img src="/static/img/religion.jpeg" alt="Religion" style="width:100%">
                    <div class="container">
                        <h4><b>Religion Books</b></h4>
                        <a href="/religion-books" class="btn1"> Read Now </a> 
                    </div>
                </div>
                <div class="card">
                    <img src="/static/img/romance.jpg" alt="Romance" style="width:100%">
                    <div class="container">
                        <h4><b>Romantic Books</b></h4>
                        <a href="/romantic-books" class="btn1"> Read Now </a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}