<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <div id="container">
        <div><div id="img">
                <img src="../static/img/logo1.png" alt="logo">
            </div>
            <span id="admin-heading">
                <h2>Admin Login</h2>
            </span>
            <form action="#" method="post">
                <div id="form-container">
                    <div id="form-start">
                        <div class="inp">
                            <input type="email" placeholder="Enter Your Email" name="email">
                        </div>
                        <div class="inp">
                            <input type="password" placeholder="Password" name="password">
                        </div>
                        <div class="btn-start">
                            <div>
                                <button class="btn" type="submit">Log-in</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>